@(tasks: List[Task], userEmail: String, friends: List[Friend], publicTasks: List[Task])

@import helper._

@main("Todo list"){

	<h1>@tasks.size task(s)</h1>
    <h2>Hello, @userEmail</h2>

    <table border="1">
        <thead>
            <tr>
                <th>Task</th>
                <th>End Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @tasks.map { task =>
                <tr>
                    <td>
                        @task.label
                    </td>

                    <td>
                        @task.endDate.map(_.format("dd/MM/yyyy"))
                    </td>

                    <td>
                        @form(routes.Application.deleteTask(task.id.get)) {
                            <input type="submit" value="Delete">
                        }

                        <a href="@routes.Application.editTask(task.id.get)"> <button>Edit</button> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h1>@publicTasks.size Public tasks</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Task</th>
                <th>End Date</th>
                <th>Owner</th>
            </tr>
        </thead>
        <tbody>
            @publicTasks.map { pTask =>
                <tr>
                    <td>
                        @pTask.label
                    </td>

                    <td>
                        @pTask.endDate.map(_.format("dd/MM/yyyy"))
                    </td>

                    <td>
                        @pTask.user
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <br>

    <a href="@routes.Application.showNewTaskForm"> <button>Create new task</button> </a>

    @if(Application.order == Some(1)){
        <a href="@routes.Application.tasks(None)">Sort by creation date</a>
    }else{
        <a href="@routes.Application.tasks(Some(1))">Sort by end date</a>
    }

    <h1>List of friends</h1>
    <h2>@friends.size friend(s)</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @friends.map { friend =>
                <tr>
                    <td>
                        @friend.emailTo
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a href="@routes.Application.showAddFriendForm"> <button>Add new friend</button> </a>
    
    <div>
        <a href="@routes.Application.logout"> <button>Logout</button> </a>
    </div>

    <footer>Created by: JudasTeam.</footer>                                             
}
