@(friendForm: Form[Friend], userEmail: String)

@import helper._

@main("Add new Friend"){

	<h1>Add a new friend to your list @userEmail</h1>

	@form(routes.Application.newFriend){
		@inputText(friendForm("emailTo"))

		<input type="hidden" name="emailFrom" value="@userEmail"> 

		<input type="submit" value="AddFriend">
	}
	<footer>Created by: </footer>

}
